name: React build apple

on:
  push:
    branches:
      - main

jobs:
  React-Build-ssh-action:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v0.1.4
        with:
          host: ${{ secrets.SSH_HOST }}
          port: ${{ secrets.SSH_PORT }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          timeout: 30s
          script: |
            export NVM_DIR=~/.nvm
            source ~/.nvm/nvm.sh
            cd /root/shocki-server
            git pull origin main
            pnpm i
            DATABASE_URL=${{ secrets.DATABASE_URL }} pnpx prisma migrate dev -n init
            docker compose up -d --build
